* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #000;
    --snd-bg-color: #111;
    --text-color: #fff;
    --main-color: #45ffca;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

section {
    min-height: 100vh;
    padding: 10rem 8% 2rem;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 880;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

span {
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 4rem;
    transition: all 0.5s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.nav-btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    font-size: 1.6rem;
    font-weight: 680;
    transition: all 0.5s ease;
}

.nav-btn:hover {
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 18px var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    Cursor: pointer;
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px; /* Kurangi padding */
}

.home-content h3 {
    font-size: 5rem;
    font-weight: 700;
}

.home-content span {
    font-size: 4rem;
    font-weight: 550;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.home-img img {
    width: 100vw; /* Lebar penuh viewport */
    height: 100vh; /* Tinggi penuh viewport */
    object-fit: cover; /* Menjaga proporsi gambar agar tidak terdistorsi */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Menempatkan gambar di belakang */
    opacity: 0.5;
}

.home-img::before {
    content: 'WORKOUT';
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10rem;
    font-weight: 100;
    line-height: 10rem;
    color: var(--text-color);
    z-index: 1; /* Pastikan teks berada di atas gambar */
}

.home-content p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 1rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
    position: relative;
    z-index: 2; /* Pastikan tombol berada di atas gambar */
}

.btn:hover {
    color: var(--text-color);
    box-shadow: 0 0 1.6rem var(--main-color);
}

.services {
    background: var(--snd-bg-color);
}

.heading {
    text-align: center;
    font-size: 6.5rem;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    gap: 1.9rem;
    margin-top: 3.9rem;
}

.row {
    background: var(--bg-color);
    border-radius: 27px;
    border: 1px solid transparent;
    box-shadow: 0 0 3px var(--main-color);
    padding: 30px;
    transition: all 0.5s ease;
}

.row img {
    height: auto;
    width: 100%;
    border-radius: 27px;
    margin-bottom: 1.4rem;
}

.row h4 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
}

.row:hover {
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.04);
    cursor: pointer;
}

.about {
    display: flex;
    bottom: 190;
    left: 0;
    align-items: left;
    gap: 0rem;
}

footer {
    background-color: #111;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2rem;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transform: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5 px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100px;
        text-align: center;
        margin: 10px;
    }
}

.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 440px;
    background: rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, 5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    display: none; 

}

.wrapper .form-box.register {
    position: relative;
    transform:translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: var(--main-color); 
    font-size: 2rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2rem;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938 ;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9rem;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.bttn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1remm;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9rem;
    color: #162816;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}